
.onboarding{
    background-color: var(--login-background-color);
    height: 100vh;
}

.carousel-section{
    width: 100%;
    height: 100vh;
}

.form-section{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(39, 40, 63, 0.967);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1;
}


