
.onboardingButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--login-page-primary-text-color);
    padding: 6px 18px;
    border-radius: 50px;
}