
.forgotPasswordFormContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forgotPasswordHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.forgotPasswordForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forgotPasswordHeading{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    width: 60%;
    line-height: 1;
    color: var(--login-page-primary-text-color);
}

.onboardingNavigation{
    color: var(--login-page-secondary-text-color);
}

.rememberMe{
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--login-page-secondary-text-color);
}

.formExtras{
    display: flex;
    gap: 6px;
    color: var(--login-page-secondary-text-color);
}

.forgotPassword{
    color: var(--login-page-primary-text-color)
}

.loginNavigation{
    color: var(--login-page-primary-text-color);
}


.successText, .forgotPasswordSubtext{
    color: var(--login-page-secondary-text-color);
    line-height: 1;
    text-align: center;
}