
.onboardingInput{
    background-color: var(--input-background-color);
    width: 100%;
    padding: 6px 18px;
    border-radius: 50px;
    border: 1.5px solid var(--input-border-color);
    color: var(--login-page-primary-text-color);
}